<div class="watch-tracker">
    <ol class="turns-list flexcol scrollable">
        {{#each turns as |turn|}}
        <li class="turn flexrow" data-index="{{turn.sort}}">
            <div class="arrows-container">
                <a class="arrow-icon" data-action="swapTurn" data-direction="-1" {{disabled (eq turn.sort 0)}}>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
                <a class="arrow-icon" data-action="swapTurn" data-direction="+1" {{disabled (eq turn.sort @root.lastTurn)}}>
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
            <div class="time-container">
                <input type="number" class="duration-input" min="1" max="99" value="{{turn.duration}}" {{disabled (not @root.isGM)}}>
                <span class="unit-span">
                    h
                </span>
            </div>
            <div class="members-container">
                {{#each turn.members as |member|}}
                <div class="member">
                    <img class="member-img" src="{{member.img}}" alt="{{member.name}}">
                    <a data-action="deleteMember" data-member="{{member.uuid}}">
                        <i class="fa-duotone fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
                {{/each}}
            </div>
            {{#if @root.canvasActive}}
            <button class="icon fa-solid fa-user-plus" data-tooltip="Add Token" data-action="addToken"></button>
            {{/if}}
            {{#if @root.isGM}}
                <button class="icon fa-solid fa-trash" data-tooltip="Delete Turn" data-action="delete"></button>
            {{/if}}
        </li>
        {{/each}}
    </ol>
    <div class="footer-tracker">
        {{#if isGM}}
            <button class="icon fa-solid fa-plus" data-tooltip="Create Turn" data-action="create">Turn</button>
        {{/if}}
    </div>
</div>